<p>Merhaba,</p>
<p>Aşağıdaki görevin bugün bitiş tarihi:</p>
<p>Açıklama: {{description}}</p>
<p>Tarih: {{dueDate}}</p>
<p>Lütfen görevi tamamladığınızdan emin olun.</p>
<p>Teşekkürler,</p>
<p>Yönetim Ekibi</p>
